<!--認証機能（ログイン、会員登録）用のビュー-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>ログイン</title>
	</head>
	<body>
		<div class="samuraitravel-wrapper">
<!--		ヘッダー-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>

			<div class="container pt-4 pb-5 samuraitravel-container">
				<div class="row justify-content-center">
<!--				画面の幅に応じて要素の幅を制御する-->
					<div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
						<h1 class="mb-4 text-center">ログイン</h1>
						<p>ADMINユーザー：　samuraitaro@example.com</p>
						<p>PAIDユーザー：　jiro.samurai@example.com</p>
						<p>FREEユーザー：　kimura.samurai@example.com</p>
						<p>password</p>
<!--					変数paramを利用することで、URLのパラメタ参照ができる-->
<!--					URLにerrorパラメタが存在する場合にこのdiv要素を表示する-->
<!--					 ・ログイン失敗時のリダイレクト先を「https://ドメイン名/login?error」にすると、エラーメッセージが表示される-->
<!--					 ・リダイレクト先設定はControllerで設定（この場合は『WebSecurityConfigクラス』で設定）-->
						<div th:if="${param.error}" class="alert alert-danger">
							メールアドレスまたはパスワードが正しくありません。
						</div>
						
						<div th:if="${successMessage}" class="alert alert-danger">
                        	<span th:text="${successMessage}"></span>
                        </div>      
						
						<form th:action="@{/login}" method="post">
<!--						ユーザー名(メールアドレス)入力-->
							<div class="form-group mb-3">
								<input type="text" class="form-control" name="username" autocomplete="email" placeholder="メールアドレス" autofocus>
							</div>
<!--						パスワード入力-->
							<div class="form-group mb-3">
								<input type="password" class="form-control" name="password" autocomplete="new-password" placeholder="パスワード">
							</div>
							
<!--						送信ボタン-->
							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn" >ログイン</button>
							</div>
						</form>
						
<!--					会員登録リンク-->
						<div class="text-center">
							<a th:href="@{/signup}">
								会員登録
							</a>
						</div>
						
<!--						パスワードリセット-->
						<div class="text-center">
							<a th:href="@{/auth/UserNewPasswordIssue}">パスワードを忘れた</a>
						</div>
						
					</div>
				</div>
			</div>
			</main>
			
<!--		フッター-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>