<!--メール認証結果を表示-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>メール認証</title>   
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">  
                            
                            <div th:if="${successMessage}" class="alert alert-info">
                                <span th:text="${successMessage}"></span>
                            </div> 
                            
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            
                            
<!--							確認用-->
							<div sec:authorize="isAuthenticated()">
							    <p>認証ユーザー: <span sec:authentication="name"></span></p>
							    <p>権限: <span sec:authentication="authorities"></span></p>
							</div>	
							
							<div sec:authorize="hasRole('ROLE_PAID')">
						        <p>このユーザーは有料会員です。</p>
						    </div>
						    <div sec:authorize="hasRole('ROLE_FREE')">
						        <p>このユーザーは無料会員です。</p>
						    </div>
						    
						        <script>
							        document.addEventListener('DOMContentLoaded', (event) => {
							            const rolesElement = document.getElementById('roles');
							            console.log('Roles:', rolesElement.textContent);
							        });
							 	</script>
						    
<!--							確認用-->
							
<!--：支払い機能が追加出来たらコメントアウトを削除する							<div sec:authorize="hasRole('ROLE_PAID')">-->
								 <form id="checkout-form" th:action="@{/user/create-checkout-session}" method="post">
                            		<button id="checkout-button" class="btn text-white shadow-sm w-100 samuraitravel-btn">月額料金決済手続き</button>
                        		 </form>
                        		 
									
<!--：支払い機能が追加出来たらコメントアウトを削除する								</div>-->
							
							<div sec:authorize="hasRole('ROLE_FREE')">
        						<a href="#">会員ホームに戻る</a>
							</div>
                            
                            
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
        
<!--		決済手続き(Stripe)の処理を実行するライブラリを取得-->
			<script src="https://js.stripe.com/v3"></script>
<!--		Thymeleafのテンプレート側で受け取った変数sessionIdの値をJavaScriptコードに埋め込む処理-->
        	<script th:inline="javascript">
        		const sessionId = /*[[${sessionId}]]*/ "null";
            	console.log('Embedded Session ID:', sessionId);
        	</script>
        	
        	
<!--        Stripe処理を実行するjsファイル-->
         	<script th:src="@{/js/stripe.js}"></script>   
        
  </body>
</html>