<!--メール認証結果を表示-->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
        <title>メール認証</title>   
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">  
                            
                            <div th:if="${successMessage}" class="alert alert-info">
                                <span th:text="${successMessage}"></span>
                            </div> 
                            
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>
                            
                            
							
								<div sec:authorize="hasRole('ROLE_PAID')">
									<form id="checkout-form" th:action="@{/user/create-checkout-session}" method="post">
	                            		<button id="checkout-button" class="btn text-white shadow-sm w-100 samuraitravel-btn">月額料金決済手続き</button>
	                        		</form>
                        		</div>
							
							<div sec:authorize="hasRole('ROLE_FREE')">
								<div class="text-center mt-4">
        							<a th:href="@{/}">会員ホームに戻る</a>
        						</div>
							</div>
                            
                            
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
        
        
  </body>
</html>