<!--管理者一覧（管理者用）-->

 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>管理者一覧</title>   
     </head>
     <body>
         <div class="samuraitravel-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 samuraitravel-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             
                             <h1 class="mb-4 text-center">管理者一覧</h1>   
                             
                             <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>   
                             
                             <div th:if="${errorMessage}" class="alert alert-danger">
                                 <span th:text="${errorMessage}"></span>
                             </div>   
                             
                             <a th:href="@{/admin/administrator/register}" class="btn text-white shadow-sm mb-3 samuraitravel-btn  float-end">登録</a>  
                             
                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th scope="col">ID</th>
                                         <th scope="col">会員属性</th>
                                         <th scope="col">氏名</th>
                                         <th scope="col">フリガナ</th>
                                         <th scope="col">メールアドレス</th>                                        
                                         <th scope="col"></th>
                                         <th scope="col"></th>
                                     </tr>
                                 </thead>   
                                 <tbody>                                                     
                                     <tr th:each="user : ${adminUsers}">
                                         <td th:text="${user.getId()}"></td>
                                         
                                         <td th:switch="${user.getRole().getId()}">
                                         	<span th:case="1">管理者</span>
                                         	<span th:case="2">有料会員</span>
									        <span th:case="3">無料会員</span>
									      </td>
                                         
                                         <td th:text="${user.getName()}"></td>
                                         <td th:text="${user.getFurigana()}"></td>
                                         <td th:text="${user.getEmail()}"></td>
                                         <td><a th:href="@{/admin/administrator/detail/__${user.getId()}__}">詳細</a></td>        
                                         
<!--                                    データ削除：data-bs-toggle属性、data-bs-target属性：Bootstrapでモーダルウィンドウなどを作成するときの作法   -->
                                        <td><a href="#" class="samuraitravel-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteAdminModal' + user.getId()}">削除</a></td>     

                                        <!-- 削除用モーダル -->
                                        <div class="modal fade" th:id="${'deleteAdminModal' + user.getId()}" tabindex="-1" th:aria-labelledby="${'deleteAdminModalLabel' + user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
<!--													data-bs-target属性やid属性などの先頭にth:をつけることで、その値に変数を使うことができる（Thymeleafの機能）-->
                                                        <h5 class="modal-title" th:id="${'deleteAdminModalLabel' + user.getId()}" th:text="${user.getName() + 'を削除してもよろしいですか？'}"></h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                    </div>
                                                    <div class="modal-footer">
<!--													deleteする店舗のidを送信-->
                                                        <form method="post"th:action="@{/admin/administrator/__${user.getId()}__/delete}">
                                                            <button type="submit" class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                         
                                                                                                                 
                                     </tr>                                      
                                 </tbody>
                             </table>  
                             
                             
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>