<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
<!--	HTML要素の読み込み-->
		<div th:replace="~{fragment :: meta}"></div>
		
<!--	styleの読み込み-->
		<div th:replace="~{fragment :: styles}"></div>
		
        
        <title>店舗詳細（管理者用）</title>
	</head>
	<body>
		<div class="samuraitravel-wrapper">
		
		<!-- ヘッダー -->
<!--	ヘッダーの読み込み-->
		<div th:replace="~{fragment :: header}"></div>
		

		<main>
		
		<div class="container pt-4 pb-5 samuraitravel-container">
			<div class="row justify-content-center">
				<div class="col-xl-5 col-lg-6 col-md-8">
					<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/admin/houses}">店舗一覧</a></li>
							<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
							
						</ol>
					</nav>
					

					
					<h1 class="mb-4 text-center" th:text="${house.getName()}"></h1>
					
					<div class="d-flex justify-content-end align-items-end mb-3">
						<div>
							<a th:href="@{/admin/houses/__${house.getId()}__/edit}">編集</a>
						</div>
					</div>
					
					<div class="mb-3">
						<!-- th:src属性のパスにファイル名を埋め込む（ファイル名によって画像が異なるので、パス内に変数を埋め込む）-->
						<!-- パスの変数設定：__$(変数)__ 　アンダースコア２つずつで変数名を囲む-->
						
						<img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="w-100" alt="店舗画像">
						<img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
					</div>
					
					
				<div class="container mb-4">
					<!-- ID表示 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">ID</span>
						</div>
											
						<div class="col">
							<span th:text="${house.getId()}"></span>
						</div>
					</div>
					
					<!-- 民宿名表示 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">店舗名</span>
						</div>
					
						<div class="col">
							<span th:text="${house.getName()}"></span>
						</div>
					</div>
					
					<!-- 説明表示 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">説明</span>
						</div>
					
						<div class="col">
							<span class="samuraitravel-pre-wrap" th:text="${house.getDescription()}"></span>
						</div>
					</div>
					
					<!-- 利用料金 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">利用料金</span>
						</div>
					
						<div class="col">
							<!-- 宿泊料金の表示フォーマットを調整する #numbers.formatIntegerオブジェクト -->
							<!-- 第１引数：成形する整数 -->
							<!-- 第２引数：最小桁数（指定した桁数に満たない場合、先頭に0が追加される） -->
							<!-- 第３引数：区切り位置（'COMMA', 'POINT', 'WHITESPACE'など） -->
							<span th:text="${#numbers.formatInteger(house.getPriceMin(), 1, 'COMMA') + ' ～ ' + #numbers.formatInteger(house.getPriceMax(), 1, 'COMMA') + '円'}"></span>
						</div>
					</div>
					
					<!-- 定員 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">定員</span>
						</div>
					
						<div class="col">
							<span th:text="${house.getCapacity() + '人'}"></span>
						</div>
					</div>
					
					<!-- 郵便番号 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">郵便番号</span>
						</div>
					
						<div class="col">
							<span th:text="${house.getPostalCode()}"></span>
						</div>
					</div>
					
					<!-- 住所 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">住所</span>
						</div>
					
						<div class="col">
							<span th:text="${house.getAddress()}"></span>
						</div>
					</div>
					
					<!-- 電話番号 -->
					<div class="row pb-2 mb-2 border-bottom">
						<div class="col-4">
							<span class="fw-bold">電話番号</span>
						</div>
					
						<div class="col">
							<span th:text="${house.getPhoneNumber()}"></span>
						</div>
					</div>
				</div> 
				
			</div>
			</div>
	</main>
	
	<!-- フッター -->
<!--	フッターの読み込み-->
	<div th:replace="~{fragment :: footer}"></div>
	
	</div>
	
	<!-- Bootstrap -->
<!--	script読み込み-->
	<div th:replace="~{fragment :: scripts}"></div>

	</body>
</html>