html{
	font-size: 14px;
}

body{
	font-family: 'Noto Sans JP', sans-serif;
}

h1{
	font-size: 1.5rem;;
}
h2{
	font-size: 1.475rem;
}
h3{
	font-size: 1.25rem;
}
a{
	color: #5196a6;
	text-decoration: none !important;
}

a:hover{
	color: #407784;
}
footer{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	background-color: #f2f0eb;
}

.samuraitravel-wrapper{
	min-height: 100vh;
	position: relative;
	padding-bottom: 60px;
	box-sizing: border-box;
}
.samuraitravel-navbar{
	min-height: 60px;
}
.samuraitravel-logo{
	height: 30px;
}

.samuraitravel-btn{
	background-color: #5196a6 !important;
	transition: 0.1s;
}

.samuraitravel-btn:hover{
	opacity:0.8;
}

.samuraitravel-page-link{
	color: #5196a6;
}
.samuraitravel-page-link:hover{
	color: #407784;
}
.samuraitravel-active{
	background-color: #5196a6 !important;
	border-color: #5196a6 !important;
}
.samuraitravel-pre-wrap{
	/*改行文字で行を折り返す*/
	white-space: pre-wrap;
}

.samuraitravel-link-danger{
	color: #f2594b;
}

.samuraitravel-link-danger:hover{
	color: #a63c3c;
}
.samuraitravel-btn-danger{
	background-color: #f2594b !important;
	transition: 0.1s;
}
.samuraitravel-btn-danger:hover{
	opacity: 0.8;
}
.samuraitravel-dropdpwn-item:active{
	background-color: #5196a6;
}
.samuraitravel-card-link{
	transition: 0.3s;
}
.samuraitravel-card-link:hover{
	opacity: 0.7;
}
.samuraitravel-horizontal-card-image{
	width: 100%;
	height: 240px;
	object-fit: cover;
}
.samuraitravel-sort-box{
	width: 150px;
}
.samuraitravel-vertical-card-image{
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.samuraitravel-search-form{
	max-width: 300px;
}

.samuraitravel-star {
    color: orange;
}
.samuraitravel-text-only-btn{
    background: none; /* 背景をなしに設定 */
    border: none; /* ボーダーをなしに設定 */
    padding: 0; /* パディングをなしに設定 */
    margin: 0; /* マージンをなしに設定 */
    color: #5196a6;; /* 親の文字色を継承 */
    font: inherit; /* 親のフォント設定を継承 */
    cursor: pointer; /* カーソルをポインタに設定 */
    outline: none; /* フォーカス時のアウトラインを非表示に設定 */
}
.samuraitravel-text-only-btn:focus,
.samuraitravel-text-only-btn:active {
    outline: none; /* フォーカス時やアクティブ時のアウトラインを非表示に設定 */
}



.dropdown-menu {
	max-height: 200px;
    overflow-y: auto;
}

/*予約カレンダーのスタイル設定*/
.input-group {
    display: flex;
    align-items: center;
}
.input-group input {
    border: 1px solid #c3c3c3;
    height: 36px;
    line-height: 36px;
    width: 80%;
    padding: 4px;
    max-width: 360px;
    border-radius: 4px;
    background: #fff;
}
a.input-button {
    text-decoration: none;
    border: none;
    display: block;
    padding: 13px;
    border-left: 0;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    line-height: 1;
}



@media screen and (min-width: 1400px){
	.samuraitravel-container{
		max-width: 1200px;
	}
}