<!DOCTYPE html>
<!-- トップページ-->
<!--xmlns:th = 「このファイルではThymeleafを利用します」を宣言する意味-->
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>NAGOYAMESHI</title>
	</head>
	<body>
		<div class="samuraitravel-wrapper">
<!--		ヘッダー-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 samuraitravel-container">
<!--				th:if属性に"${param.loggedIn}"を指定し、WebSecurityConfigでリダイレクト先が『.defaultSuccessUrl("/?loggedIn")』となった時に表示される-->
					<div th:if="${param.loggedIn}" class="alert alert-info">
						ログインしました。
					</div>
					
<!--				th:if属性に"${param.loggedOut}"を指定し、WebSecurityConfigでリダイレクト先が『.failureUrl("/login?error")』となった時に表示される-->
					<div th:if="${param.loggedOut}" class="alert alert-info">
						ログアウトしました。
					</div>
					
					<div th:if="${successMessage}" class="alert alert-info">
						<span th:text="${successMessage}"></span>
					</div>
					
<!--				■新着店舗情報を表示-->
					<div class="d-flex justify-content-center">
						<form method="get" th:action="@{/houses}" class="mb-5 samuraitravel-search-form">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・目的地">
								<button type="submit" class="btn text-white shadow-sm samuraitravel-btn">検索</button>
							</div>
						</form>
					</div>
					
					 <h2 class="text-center mb-3">カテゴリから探す</h2>     
                              
                     <h2 class="text-center mb-3">人気順で探す</h2>     
					
					<h2 class="text-center mb-3">新着順</h2>
					<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
						<div class="col" th:each="newHouse : ${newHouses}">
							<a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark samuraitravel-card-link">
								<div class="card h-100">
<!--								店舗画像-->
									<img th:if="${newHouse.getImageName()}" th:src="@{/storage/__${newHouse.getImageName()}__}" class="card-img-top samuraitravel-vertical-card-image" alt="店舗画像">
									<img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top samuraitravel-vertical-card-image" alt="NO IMAGE">
									<div class="card-body">
										<h3 class="card-title" th:text="${newHouse.getName()}"></h3>
										<p class="card-text mb-1">
<!--										・"text-muted"：テキストを灰色にする-->
											<small class="text-muted" th:text="${newHouse.getAddress()}"></small>
										</p>
										<p class="card-text">
<!--										・#numbers.formatInteger()：数値を指定された形式でフォーマットするメソッド-->
											<span th:text="${#numbers.formatInteger(newHouse.getPriceMin(), 1, 'COMMA') + ' ～ ' + #numbers.formatInteger(newHouse.getPriceMax(), 1, 'COMMA') + '円'}"></span>
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					
<!--				■店舗検索-->
                     <div class="row justify-content-center">
                         <div class="col-xl-6 col-lg-7 col-md-9">                    
                     
                             <h2 class="text-center mb-3">エリアから探す</h2>                                        
                              
                             <table class="table">
                                 <tbody>                                                     
                                  
                                     <tr>
                                         <td>
                                             <a th:href="@{/houses?area=中区}" class="btn btn-outline-dark me-2">中区</a>
                                             <a th:href="@{/houses?area=中村区}" class="btn btn-outline-dark me-2">中村区</a>
                                             <a th:href="@{/houses?area=昭和区}" class="btn btn-outline-dark me-2">昭和区</a>
                                             <a th:href="@{/houses?area=瑞穂区}" class="btn btn-outline-dark me-2">瑞穂区</a>
                                             <a th:href="@{/houses?area=熱田区}" class="btn btn-outline-dark me-2">熱田区</a>
                                             <a th:href="@{/houses?area=中川区}" class="btn btn-outline-dark me-2">中川区</a>
                                         </td>                                     
                                     </tr>  
                                                                                                                                                                                                                                                                                                                                                                                                            
                                 </tbody>
                             </table>  
                             

                             
                             
                         </div>
                     </div>  
					
				</div>
			</main>
<!--		フッター-->
			<div th:replace="~{fragment :: footer}"></div>
						
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
		
		
		
	</body>
</html>