カテゴリー登録ページ（管理者用）

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>カテゴリー登録（管理者用）</title>
		
	</head>
	<body>
		<div class="samuraitravel-wrapper">
<!--			ヘッダー-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 samuraitravel-container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-7 col-md-9">
<!--						パンくずリスト：style="--bs-breadcrumb-divider: '>';"はパンくずリストの区切り文字-->
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a th:href="@{/admin/categories}">カテゴリー一覧</a></li>
									<li class="breadcrumb-item active" aria-current="page">カテゴリー登録</li>
								</ol>
							</nav>
							
							<h1 class="mb-4 text-center">カテゴリー登録</h1>
							
<!--							formy要素の説明-->
<!--							・form要素の属性にpostを指定：get/postを指定できる-->
<!--								HTML GET：単純にページを表示する場合など、サーバーから情報を取得するために使う-->
<!--								HTML POST：フォーム入力内容を送信して、データの作成や更新を行う場合など、サーバー上のデータを変更するために使う-->
<!--							・form要素にth:object属性：コントローラーから受け取ったインスタンスを指定する-->
<!--							・th:action属性：Contorollerのどのメソッドに対してデータを送るかを指定(Contoroller側では『@PostMapping("/create")』で紐づけしている	)-->
<!--								インスタンスを受け取ることで、入力項目とフォームクラスのフィールドを関連付けできるようになる-->
<!--							・form要素のenctype属性：フォーム入力内容を送信するためのエンコードタイプを指定-->
							<form method="post" th:action="@{/admin/categories/create}" th:object="${categoryRegisterForm}" enctype="multipart/form-data">
<!--							row: Bootstrapのグリッドシステムを使用して、水平方向に要素を配置するためのクラス-->
<!--							店舗名の入力-->
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="category" class="col-form-label text-md-left fw-bold">カテゴリー名</label>
									</div>
									<div class="col-md-8">
										
<!--									th:if属性の条件式に#fields.hasErrorsを使うことで、そのフィールドにエラーが発生した場合にのみその要素を表示できる-->
<!--									th:errors属性を加え、クラスで設定したメッセージを表示できる-->
										<div th:if="${#fields.hasErrors('category')}" class="text-danger small mb-2" th:errors="*{category}"></div>
										
<!--									th:field属性　各入力項目とフォームクラスのフィールドを関連付けさせる-->
<!--										th:fieldを設定するとid属性も同じ値になる-->
										<input type="text" class="form-control" th:field="*{category}" autofocus>
									</div>
								</div>	
									
<!--							民宿画像のアップロード-->
								<div class="form-group row mb-3">
									<div class="col-md-4">
										<label for="imageFile" class="col-form-label text-md-left fw-bold">カテゴリー画像</label>
									</div>
									<div class="col-md-8">
										<div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2" th:errors="*{imageFile}"></div>
										<input type="file" class="form-control" th:field="*{imageFile}">
									</div>
								</div>
<!--								選択された画像の表示場所-->
									<div class="row" id="imagePreview"></div>
									
<!--							登録ボタン-->
								<div class="form-group d-flex justify-content-center my-4">
									<button type="submit" class="btn text-white shadow-sm w-50 samuraitravel-btn">登録</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
			
<!--		フッター-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
<!--	スクリプト-->
		<div th:replace="~{fragment :: scripts}"></div>
		<script th:src="@{/js/preview.js}"></script>
			
			

	</body>
</html>